.rs-wrapper {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.rs-table-wrapper::-webkit-scrollbar {
  display: none;
}

.rs-table-wrapper {
  overflow: scroll;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .rs-selected {
    .rs-table-cell {
      background-color: green;
    }
  }

  .rs-table-row {
    position: absolute;
    width: 100%;
  }
}

.rs-table-cell, .rs-header-cell, .rs-group-row {
  position: absolute;
  display: flex;
  align-items: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1rem;
}

.rs-group-row {
  width: 100%;
}

.rs-animated {
  transition: transform .4s, left .4s, top .4s, height .4s, background-color .1s, opacity .2s, -webkit-transform .4s;
}

.rs-dragged {
  opacity: .5;
}

.rs-header-wrapper {
  touch-action: none;

  .rs-header-cell {
    background-color: darkgrey;
    color: white;

    &:not([aria-colindex="0"]) {
      border-left: 1px solid white;
    }
  }
}

.rs-chevron {
  margin-right: 15px;
  transition: transform .1s;
}

.rs-bottom {
  transform: rotate(90deg);
}

.rs-wrapper:hover .rs-scrollbar-vertical {
  opacity: 1;
}

.rs-scrollbar-vertical {
  opacity: 0;
  touch-action: none;
  position: absolute;
  right: 0;
  width: 10px;
  background-color: whitesmoke;

  &.rs-active {
    opacity: 1;
  }

  .rs-scrollbar-thumb {
    touch-action: none;
    position: absolute;
    right: 1px;
    width: 8px;
    border-radius: 4px;
    background-color: darkgray;
  }
}
